@font-face {
    font-family: Rodondo;
    src:url('assets/Rodondo.otf');
}

@font-face {
    font-family: RW;
    src:url('assets/rain-world-menu.ttf');
}

body {
    background-image: url('assets/rainworld-bg.webp');
    backdrop-filter: brightness(50%) blur(4px);
    background-position-y: 80%;
    font-family: RW;
    text-align: center;
    justify-content: center;
    background-size: cover;
    color: white;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Rodondo;
    font-weight: normal;
    background-image: linear-gradient(to top right, #636363 0%, #ffffff 35%);
    color:  transparent;
    background-clip: text;
}

h1 {
    font-size: 6em;
}

.header-img {
    width: 1em;
}